<div class="product-block product-block--text_with_image" {{ block.shopify_attributes }}>
  <div class="flex-block">
    <div class="image-block">
      {% if block.settings.image != blank %}
        {{ block.settings.image | image_url: width: 150 | image_tag: class: 'image' }}
      {% endif %}
    </div>
    <div>
      {% if block.settings.heading != blank %}
        <div class="heading">{{ block.settings.heading }}</div>
      {% endif %}
      {% if block.settings.text != blank %}
        <div class="text">{{ block.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>
