<style>
  /* * {
      margin: 0;
      padding: 0;
  } */

  .about-us-row {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      gap: 150px;
      max-width: 1200px;
      box-sizing: border-box;
      padding: 0 12px;
      margin: 60px auto;
  }

  #priyuja-about {
      margin: 0 auto;
  }

  #priyuja-about img {
      max-width: 100%;
      width: 100%;
  }

  #priyuja-about section {
      margin: 0 auto 120px;
  }

  .sub-heading {
      color: #000;
      font-size: 20px;
      margin: 0 0 12px 0;
  }

  .heading-about-us {
      width: 40%;
  }

  .heading-text {
      color: #000;
      font-size: 40px;
  }

  .text-about-us {
      width: 60%;
  }

  .our-story-row {
      background: #FAEEE6 url('https://cdn.shopify.com/s/files/1/0704/1119/0580/files/about-bg.png') no-repeat center center;
      text-align: center;
      padding: 80px 0;
      max-width: 1185px;
      margin: 0 auto;
      border-radius: 22px;
  }

  .our-story-row p {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      margin: 15px auto;
  }

  .our-story-row .heading-text {
      margin: 0 0 28px 0;
  }

  .our-journey {
      background: #C8675C;
  }

  .our-journey-row {
      max-width: 1185px;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
      gap: 150px;
      padding: 80px 0;
      align-items: center;
  }

  .our-journey-row .left {
      color: #fff;
      width: 60%;
  }

  .our-journey-row p {
      margin: 20px 0;
  }

  .our-journey-row .right {
      width: 40%;
  }

  .our-journey-row .heading-text {
      color: #fff;
  }

  .about-future {
      max-width: 800px;
      margin: 0 auto;
  }

  .about-future .text {
      max-width: 650px;
      margin: 60px auto;
      text-align: center;
  }

  .about-future .text span {
      font-weight: 600;
  }

  .our-founder-row {
      display: flex;
      max-width: 1185px;
      margin: 0 auto;
      gap: 130px;
  }

  .our-founder-row .left-col {
      width: 30%;
  }

  .our-founder-row .left-col .sub-heading {
      margin: 15px 0;
  }

  .our-founder-row .right-col {
      width: 70%;
  }

  .our-founder-row .right-col p {
      margin: 0 0 20px;
  }

  @media screen and (max-width: 676px) {
    .about-us-row {
        gap: 30px;
        flex-direction: column;
        padding: 0 15px;
    }

    .heading-about-us {
        width: 100%;
    }

    .text-about-us {
        width: 100%;
    }

    .heading-text {
        font-size: 28px;
    }

    #priyuja-about section {
        margin: 0 auto 60px;
    }

    #ourStory {
        padding: 0 15px;
    }

    .our-story-row {
        background: #FAEEE6 url('https://cdn.shopify.com/s/files/1/0704/1119/0580/files/about-bg-2-mobile.png') no-repeat center center;
        text-align: center;
        padding: 40px 15px;
        max-width: 1185px;
        margin: 0 auto;
        border-radius: 22px;

    }

    .our-founder-row {
        gap: 40px;
        flex-direction: column;
        padding: 0 15px;
    }

    .our-founder-row .left-col {
        width: 100%;
    }

    .our-founder-row .right-col {
        width: 100%;
    }

    .our-journey-row {
        gap: 40px;
        padding: 40px 15px;
        flex-direction: column-reverse;
    }

    .our-journey-row .left {
        width: 100%;
    }

    .our-journey-row .right {
        width: 100%;
    }

    .about-future {
        padding: 0 15px;
    }

    .about-future .text {
        margin: 40px auto;
    }
  }
</style>

<div id="priyuja-about" class="">
    <section>
        <div class="about-us-row">
            <div class="heading-about-us">
                <div class="sub-heading">ABOUT US</div>
                <div class="heading-text">Priyuja: Weaving Threads of Heritage and Elegance</div>
            </div>
            <div class="text-about-us">
                <p>Nestled in the heart of Mumbai, Priyuja stands as a testament to the enduring allure of Indian
                    heritage. Our brand specializes in the timeless craft of Banarasi Pure Handloom Silk Sarees,
                    each piece a tapestry of meticulous craftsmanship and historical richness.
                    Priyuja is not just a brand; it is a celebration of the ancient weaving traditions brought
                    directly from the heart of Banaras to the contemporary pulse of Mumbai.</p>
            </div>
        </div>
    </section>
    <section id="ourStory">
        <div class="our-story-row">
            <div class="heading-text">OUR STORY</div>
            <p>
                The origin of Priyuja is deeply intertwined with the historic looms of Banaras, a
                city synonymous with silk weaving excellence. Our heritage is crafted on the loom of history, with
                each saree embodying the traditional techniques handed
                down through generations. These artisans, the core weavers from Banaras, are not merely fabricators
                of silk; they are the custodians of an age-old art, painting stories on silk canvases with threads
                of gold and silver.
            </p>
            <p>At Priyuja, we cherish this connection to tradition. Each saree in our collection is a testament to
                the authenticity and skill of these artisans. We ensure that every
                design reflects the historic integrity and aesthetic purity of its origins.
            </p>
            <p>

                This commitment to authenticity not only preserves the craft but also enhances the saree’s
                value—making it a true piece of art that carries the essence of Banarasi heritage.
            </p>
        </div>
    </section>
    <section>
        <div class="our-founder-row">
            <div class="left-col">
                
                <div class="sub-heading">
                    OUR FOUNDER
                </div>
                <div class="heading-text">
                    A Visionary with a Legacy
                </div>
            </div>
            <div class="right-col">
                <p>The inception of Priyuja was inspired by a lineage of textile aficionados and the visionary zeal
                    of our founder, Anvi Nawalgaria, a distinguished post-graduate in Mass Communication. With a
                    profound understanding of narrative and audience, our founder has harnessed the power of
                    storytelling to connect with a diverse clientele, weaving the brand’s narrative into the fabric
                    of its products.
                </p>
                <p>
                    The founder’s journey from an observer of Banarasi textiles to a curator of a brand that stands
                    for such textiles has been driven by a personal passion that prizes authenticity and cultural
                    continuity.
                </p>
                <p>
                    Drawing from a rich family heritage spanning 3 generations, our founder's roots trace back to
                    Albeli Fashions, a distinguished name in the textile industry known for its commitment to
                    quality and tradition. Albeli Fashion was founded by Mr. Sharad Nawalgaria and Mr. Samir
                    Nawalgaria, rooted in their profound passion for Indian textiles.

                    Originating in 1990 as handloom thaan manufacturers, they ventured into the esteemed weaving
                    traditions of Banaras. This storied past is deeply woven into the fabric of Priyuja, infusing
                    our brand with a legacy of textile excellence and artistic passion.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="our-journey">
            <div class="our-journey-row">
                <div class="left">
                    <div class="heading-text"> OUR JOURNEY</div>
                    <p>
                        Transferring the rich tapestry of Banaras to the bustling streets of Mumbai has been a
                        journey
                        of vision and perseverance. Mumbai, a melting pot of cultures and fashion, serves as the
                        perfect
                        stage for Priyuja's exquisite creations.
                    </p>
                    <p>

                        Here, the ancient art of Banarasi weaving finds a new audience—an eclectic mix of modern
                        connoisseurs who appreciate the fusion of traditional artistry with contemporary elegance.
                    </p>
                    <p>

                        By situating ourselves in Mumbai, we tap into the city’s vibrant fashion scene, integrating
                        traditional Banarasi elegance with the dynamic trends of one of India’s fashion capitals.
                        Our
                        presence in Mumbai allows us to showcase these timeless pieces in a context that appreciates
                        both their cultural significance and their modern allure.
                    </p>
                </div>
                <div class="right">
                    <img src="https://cdn.shopify.com/s/files/1/0704/1119/0580/files/Untitled_design_4.png?v=1723545175" width="800px" height="600px"/>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="about-future">
            <img src="https://cdn.shopify.com/s/files/1/0704/1119/0580/files/Untitled_design_5.png?v=1723545455" width="1000px" height="650px"/>
            <div class="text">
                <span>Weaving the Future with Threads from the Past</span> - At Priyuja, every thread we weave
                carries the
                resonance of Banarasi heritage, each saree a symbol of enduring craftsmanship. As we continue our
                journey, bridging cities and cultures, we invite you to partake in the rich narrative of Banarasi
                silk, to own a piece of Indian tradition that is as timeless as it is elegant. Join us in
                celebrating the art of silk weaving, preserved and presented with passion by Priyuja.
            </div>
        </div>
    </section>
</div>


{% schema %}
  {
    "name": "about-us",
    "settings": []
  }
{% endschema %}